.container {
  padding: 0 100px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .innerContainer {
    width: 70vw;

    .title {
      font-size: 40px;
    }
    p {
      font-size: 20px;
      width: 800px;
    }
    .people {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      padding-bottom: 100px;

      .person {
        display: flex;
        flex-direction: column;
        width: 400px;
        margin-right: 30px;
        background-color: white;
        margin-bottom: 20px;
        &:hover {
          .media {
            transform: scale(1.05);
            cursor: pointer;
          }
        }

        .media {
          width: 400px;
          height: 400px;
          position: relative;
          display: inline-block;
          transition: all 0.5s ease;
          .imageTop {
            display: none;
            z-index: 99;
          }
          .image {
            z-index: 99;
          }
          &:hover {
            .image {
              display: none;
            }
            &:hover {
              .imageTop {
                display: unset;
              }
            }
          }
        }
        .description {
          padding: 15px 20px;
          color: black;
          &:hover {
            h3 {
              cursor: pointer;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding: 0;
    justify-content: center;
    .innerContainer {
      width: 80vw;
      .title {
        font-size: 30px;
      }
      p {
        font-size: 16px;
        width: 300px;
      }
      .people {
        flex-direction: column;
        align-items: center;
        .person {
          width: 80vw;
          .media {
            width: 100%;
            height: 100%;
          }
        }
        .description {
          font-size: 15px;
        }
      }
    }
  }
}
