.container {
  height: auto;
}
.title {
  text-align: center;
  font-size: 35px;
}
.logoOuter {
  max-width: 1000px;
  overflow: hidden;
  margin: auto;
  padding-bottom: 50px;
}
.logoInner {
  background: url(/img/gray-client-logos.svg) 0 / contain repeat-x;
  height: 100px;
  width: 6000px;
  animation: moving-logos 30s linear infinite;
}
.logoInner:hover {
  background: url(/img/client-logos.svg) 0 / contain repeat-x;
}
@keyframes moving-logos {
  0% {
    transform: translatez(0);
  }
  100% {
    transform: translate3d(-1500px, 0, 0);
  }
}
@media screen and (max-width: 480px) {
  .container {
    height: auto;
  }
  .title {
    padding: 20px;
    font-size: 30px;
  }
  .logoOuter {
    max-width: 400px;
    padding-bottom: 30px;
  }
  .logoInner {
    height: 80px;
    background: url(/img/client-logos.svg) 0 / contain repeat-x;

  }
}
