.container {
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
.card {
  flex: 3;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.title {
  font-size: 80px;
  font-weight: 700;
  margin-bottom: 0;
}
.desc {
  text-align: center;
  font-size: 20px;
  font-weight: 300;
  margin-top: 30px;
  width: 720px;
}
.descM {
  display: none;
}

@media screen and (max-width: 480px) {
  .container {
    height: calc(100vh - 70px);
    justify-content: space-between;
  }
  .card {
    padding-top: 0;
    text-align: center;
    align-items: center;
  }
  .title {
    font-size: 48px;
    margin-bottom: 20px;
  }
  .desc {
    display: none;
  }
  .descM {
    display: unset;
    margin-top: 10px;
    width: 280px;
    font-size: 20px;
  }
}
