.container {
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}
.card {
  margin-top: 5vh;
  padding-top: 5%;
  flex: 3;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.title {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 0;
}
.brand {
  color: #009bfa;
}
.desc {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  margin-top: 30px;
  width: 720px;
}

@media screen and (max-width: 480px) {
  .container {
    height: 100vh;
    justify-content: space-between;
  }
  .card {
    padding-top: 0;
    text-align: center;
    align-items: center;
    margin-top: 10vh;
  }
  .title {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .desc {
    margin-top: 10px;
    width: 280px;
    font-size: 17px;
  }
}
