
.modal{
    width: 1000px;
    height: 600px;
    display: flex;
    align-items: center;
    h1{
        font-size: 50px;
        margin-bottom: 0;
    }
    .image{
        flex: 4;
    }
    .text{
        flex: 6;
        margin: 5%;
    }
}